#wireit-workspace {
  width: 1000px;
  height: 800px;
  background:url("graphpaper.jpg") repeat scroll left top #ffffff;
  border: 1px solid #c8cccd;
}

.wireit-rulebox {
  border: solid 1px #c8cccd;
  min-height: 150px;
  min-width: 180px;
  position: absolute;
  padding:0;
  background-color: #ffffff;
  overflow: visible;
  z-index: 10;
}

.wireit-rulebox li {
  display: inline-block;
  padding: 3px 10px;
  border-right:  1px solid #c8cccd;
}

.wireit-rulebox li:first-child {
  border-left:  1px solid #c8cccd;
}

.wireit-rulebox ul{
  text-align: center;
}

.wireit-rulebox .boxtop{
  margin-bottom: 3px;
}

.wireit-rulebox .boxbottom{
  position: absolute;
  bottom:0;
  width: 100%;
}

.wireit-rulebox .boxtop li{
  padding-bottom: 10px;
  border-bottom: 1px solid #c8cccd;
}

.wireit-rulebox .boxbottom li{
  padding-top: 10px;
  border-top: 1px solid #c8cccd;
}

.wireit-rulebox .boxdescription{
  margin-bottom: 30px;
  padding: 5px 15px;
}

.wireit-rulebox-control{
  height: 34px;
  padding:5px;
  float: right;
}


.wireit-rulebox.skeleton {
  border: dotted 1px #888c8d;
  background-color: transparent;
}

.wireit-rulebox.skeleton>*,
.wireit-rulebox.skeleton button{
  visibility: hidden!important;
}

#wireit-rulebox-template {
  display: none;
}

canvas.WireIt-Wire {
  border: 0 none;
  position: absolute;
  z-index: 0;
}

#wireit-toolbox {
  padding: 14px 0;
}

#wireit-toolbox .ui-accordion h3{
  font-size: 10px;
  height: 35px;
}

#wireit-toolbox .ui-accordion h3 a{
  padding-top: 11px;
}

#wireit-toolbox .ui-accordion div{
  padding: 3px;
}

#wireit-toolbox .ui-accordion p{
  font-size: 9px;
  width: 160px;
}

#wireit-toolbox .ui-accordion button{
  margin: 4px;
  position: absolute;
  right: 0;
  top: 0;
}

#wireit-toolbox .ui-accordion button .ui-icon{
  margin-left: -2px;
}

#wireit-toolbox .wireit-ruleitem>p {
  margin-top: 20px;
}










